.z-high {
  z-index: 999; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #bbbbbb; }

/* Add some CSS styling for the grid cells */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 0 auto;
  width: fit-content; }

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid #87a330;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #a1c349; }

/* Add some styling for hover effect (optional) */
.cell:hover {
  background-color: #87a330; }
